/* form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: auto;
  margin: auto;
  padding: 20px;
} */

.form-control {
  width: auto !important;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  gap: 16px; /* Space between fields */
}

.input-container .mb-3 {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
