.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #6c48b9f5;
  color: #d3d3d5;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 40px;
  height: 40px;
}

.title {
  margin: 0;
  font-size: 20px;
}
