<div class="login-wrapper">
  <div class="login-card">
    <h4 class="mb-4">Login</h4>

    @if(errorMessage) {
    <div class="alert alert-danger">{{ errorMessage }}</div>
    }

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="input-container">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" formControlName="email" title="email" />
          @if(email?.touched && email?.invalid) {
          <div class="text-danger">
            <div class="error">@if(email?.errors?.['required']) { Email is required. }</div>
            <div class="error">
              @if(loginForm.get('email')?.hasError('email')) { Please enter a valid email address. }
            </div>
          </div>
          }
        </div>

        <div class="mb-3">
          <label for="passsword" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" title="password" />
          @if(password?.touched && password?.invalid) {
          <div class="text-danger">
            <div class="error">@if(password?.errors?.['required']) { Password is required. }</div>
            <div class="error">
              @if(password?.errors?.['minlength']) { Password must be at least 6 characters long. }
            </div>
          </div>
          }
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || isLoading">
        {{ isLoading ? 'Logging in...' : 'Login' }}
      </button>
    </form>
  </div>
</div>